test1
test2
test3
buffer
sieve
.depend

release/buffer.o
release/end.o
release/interrupts.o
release/machineprimitives.o
release/machineprimitives_x86_64.o
release/machineprimitives_x86_64_asm.o
release/minithread.o
release/queue.o
release/random.o
release/sieve.o
release/start.o
release/synch.o
release/test1.o
release/test2.o
release/test3.o
